<h1>CS103a App</h1>
<p class="fs-2">Welcome to the App</p>
<a href="/transaction" class="btn btn-primary btn-lg my-2">Transaction App</a>
<br>
<a href="/todo" class="btn btn-primary btn-lg my-2">Todo App</a>
<br>
<a href="/gpt" class="btn btn-primary btn-lg my-2">GPT adding comments to code app</a>