<h2>Meet our team!</h2>
<div class="col-sm-6 col-lg-6 mb-3">
    <div class="card">
      <img src="photos/zhp.jpeg" class="card-image" alt="Member 1">
      <div class="card-body">
        <h5 class="card-title">Haipeng Zhu</h5>
        <p class="card-text">MSCS 24' student
            <br>
            Responsible Transaction App and GPT App.
            <br>
        </p>
      </div>
    </div>
  </div>